<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="script/vue.js"></script>
    <script language="JavaScript" src="script/axios.min.js"></script>
    <script>
        window.onload = function(){
            var vue = new Vue({
                "el":"#div0",
                data:{
                    uname:"linda",
                    pwd:"ok"
                },
                methods:{
                    axios02:function(){
                        axios({
                            method:"POST",
                            url:"axios02.do",
                            data:{
                                uname:vue.uname,
                                pwd:vue.pwd
                            }
                        })
                            .then(function (value){
                                console.log(value);
                            })
                            .catch(function (reason){
                                console.log(reason);
                            });
                    }
                }
            });
        }
    </script>
</head>
<body>
<div id="div0">
    uname:<input type="text" v-model="uname"><br>
    pwd:<input type="text" v-model="pwd"><br>
    <input type="button" @click="axios02" value="发送一个带JSON格式参数带异步请求">
</div>
</body>
</html>